@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-300;
  }
}

@layer components {
  .emote {
    &.gigantic {
      display: block;
      margin: 0 0 -0.5rem 0;
    }

    &.flipx {
      transform: scaleX(-1);
    }

    &.flipy {
      transform: scaleY(-1);
    }

    &.wide {
      height: 28px;
      width: 114px;
    }

    &.rotate {
      transform: rotate(90deg);
    }

    &.rotateLeft {
      transform: rotate(-90deg);
    }

    &.zeroSpace {
      margin-left: -0.3rem;
    }

    &.cursed {
      filter: brightness(0.75) contrast(2.5) grayscale(1);
    }

    &.party {
      animation: partying 1.5s linear infinite;
    }

    &.shake {
      animation: shaking 0.5s step-start infinite;
    }

    &.shake.party {
      animation: partying 1.5s linear infinite, shaking 0.5s step-start infinite;
    }
  }
}

@keyframes shaking {
  0% {
    translate: 0 1px;
  }
  10% {
    translate: 2px 0;
  }
  20% {
    translate: 1px -2px;
  }
  30% {
    translate: -2px 1px;
  }
  40% {
    translate: 0 -1px;
  }
  50% {
    translate: 2px 2px;
  }
  60% {
    translate: -1px -1px;
  }
  70% {
    translate: -2px 2px;
  }
  80% {
    translate: 2px 1px;
  }
  90% {
    translate: -1px -2px;
  }
  to {
    translate: 1px 0;
  }
}

@keyframes partying {
  0% {
    filter: sepia(0.5) hue-rotate(0deg) saturate(2.5);
  }
  to {
    filter: sepia(0.5) hue-rotate(1turn) saturate(2.5);
  }
}
